html,
body{
    margin: 0px;
    height: 100%;
}

#octo-container{
    height: 100%;
    display:flex;
}

#button1,
#button2,
#button3{
    height:100%;
    width:100%;
    border: none;
    transition-duration: 0.5s;
}

#button1:hover,
#button2:hover{
    opacity: 80%;
}

#button1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: crimson;
}

#button2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

#left-box{
    width: 50%;
    height: 100%;
}

#left-box-1{
    width: 100%;
    height: 100%;
}

#right-box{
    width: 50%;
   
    height: 100%;
}

.svg{
    width: 90%;
}

.full-page-svg{
    width: 80%;
}

.imagefeatures{
    width: 100%;

}

.content-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
}


#vert-box{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}


.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  .flex-container > div {
    color: white;
    font-size: 30px;
    text-align: center;
    
  }

  #text-div{
    background-color: #5C0A19;
    flex-grow: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 30px;
    font-size: 35px;
    overflow-wrap: normal;
    
  }

#choose-div{
    flex-grow: 1;
}

#button3{
    background-color: crimson;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#button3:hover{
    font-size:80px;
}


span{
    color: #F7B6C2;
    font-size:30px;
}

#msg-body{
    background-color: black;
}

form{
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#msg,
#frm{
    background-color: white;
    color: crimson;
    border: none;
    transition-duration: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 6px;
}

#msg{
    font-size: 40px;
    margin-top: 30px;
    width: 80%;
    height: 30%;
    resize:none;
}

#msg:focus,
#frm:focus{
    padding: 30px 40px;
    border: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

#submit{
    margin-top: 60px;
    background-color: crimson;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 40px;
    transition-duration: 0.5s; 

}

#submit:hover{
    font-size: 40px;
}