<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=thisStyle) }}">
</head>
<body onload="GET">
    <div class="flex-container">
        <div id="vert-box">
        <div id="choose-div">
            <a href = "/statepicker">
        <button id="button3"> Pick Mood</button>
    </a>
        </div>

        <div id="text-div">
        <div>I'm Feeling: <br><span id="message">{{message}}</span></div><br><br>
        <div>From:<br><span id="sender">{{sender}}</span></div>
        </div>

        </div>

        <div class="content-container" id="CC">
            <img src="{{ url_for('static', filename=imageUrl) }}" class="full-page-svg" id="image">
        </div>
    </div>

    <!--<script src="testhome.js"></script> -->
</body>
</html>